<!-- 页脚 -->
<footer class="container-fluid">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>联系我们</h3>
                <p><i class="fas fa-envelope"></i> 3200513041@qq.com </p>
                <p><i class="fas fa-phone"></i> 19970929018 </p>
                <p><i class="fas fa-map-marker-alt"></i> 江西财经大学麦庐园校区</p>
            </div>
            <div class="footer-section">
                <h3>关注我们</h3>
                <div class="social-links">
                    <a href="https://www.jxufe.edu.cn/"><img src="jxufe.png" alt="江西财经大学"  width="40px"></a>
                </div>
            </div>
            <div class="footer-section">
                <h3>快速链接</h3>
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="contest.html">竞赛信息</a></li>
                    <li><a href="leader.html">协会负责人</a></li>
                    <li><a href="excellent.html">优秀成员</a></li>
                    <li><a href="links.html">友链栏</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 程序设计竞赛协会 版权所有</p>
        </div>
    </div>
</footer>