<!-- 导航栏 -->
<header class="container-fluid">
    <div class="container">
        <div class="logo">
            <img src="images/logo.png" alt="协会logo" class="logo-image">
            <h1>江西财经大学程序设计竞赛协会</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="contest.html">竞赛信息</a></li>
                <li><a href="leader.html">协会负责人</a></li>
                <li><a href="excellent.html">优秀成员</a></li>
                <li><a href="links.html">友链栏</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>